@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");
body {
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: rgb(116, 126, 136);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

i,
span,
a {
    display: inline-block;
}

a {
    color: rgb(222, 54, 96);
}

a:hover {
    color: rgb(222, 54, 96);
}

a

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: rgb(56, 66, 77);
    margin: 0px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul,
ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(116, 126, 136);
    font-family: Roboto, sans-serif;
    margin: 0px;
}

.section_title .title {
    font-size: 45px;
    font-weight: 600;
}

@media (max-width: 767px) {
    .section_title .title {
        font-size: 26px;
    }
}

.section_title p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 28px;
}

.section_title.section_title_2 .title {
    color: rgb(255, 255, 255);
}

.section_title.section_title_2 p {
    color: rgb(255, 255, 255);
}

.header_area {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99;
}

.header_top {
    background-color: rgb(255, 255, 255);
  
}

.header_top .header_info {
    padding-top: 15px;
}

.header_top .header_info ul li {
    display: inline-block;
}

.header_top .header_info ul li+li {
    margin-left: 20px;
}

.header_top .header_info ul li i {
    margin-right: 5px;
    font-size: 16px;
}

.header_top .header_info ul li a {
    font-size: 16px;
    color: rgb(116, 126, 136);
    transition: all 0.3s ease-out 0s;
}

@media (max-width: 767px) {
    .header_top .header_info ul li a {
        font-size: 14px;
    }
}

.header_top .header_info ul li a:hover {
    color: rgb(222, 54, 96);
}

.header_top .header_social {
    padding-top: 15px;
}

.header_top .header_social ul li {
    display: inline-block;
}

.header_top .header_social ul li+li {
    margin-left: 20px;
}

.header_top .header_social ul li a {
    font-size: 16px;
    color: rgb(116, 126, 136);
    transition: all 0.3s ease-out 0s;
}

.header_top .header_social ul li a:hover {
    color: rgb(222, 54, 96);
}

.header_navbar {
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99;
    transition: all 0.3s ease-out 0s;
    background-color: rgba(0, 0, 0, 0);
}

.sticky {
    position: fixed;
    z-index: 99;
	color:white;
    background-color: rgb(26, 51, 80);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 20px 50px 0px;
    transition: all 0.3s ease-out 0s;
}

.sticky .navbar {
    padding: 10px 0px;
}

.navbar {
   
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease-out 0s;
    font-family: Roboto, sans-serif;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand img {
    width: 134px;
}

.navbar-nav .active a {
    opacity: 0.6;
}

.navbar-toggler {
    padding: 0px;
}

.navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    display: block;
    margin: 5px 0px;
    position: relative;
    transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
    transform: rotate(45deg);
    top: 7px;
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
    transform: rotate(135deg);
    top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        z-index: 9;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 20px 0px;
        padding: 5px 12px;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        z-index: 9;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 20px 0px;
        padding: 5px 12px;
    }
}

.navbar-nav .nav-item {
    margin-right: 45px;
    position: relative;
    color: rgba(7, 7, 7,1);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav .nav-item {
        margin-right: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item {
        margin: 0px;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item {
        margin: 0px;
    }
}

.navbar-nav .nav-item a {
    font-size: 16px;
    font-weight: 400;
    color: black;
    transition: all 0.3s ease-out 0s;
    padding: 10px 0px;
    position: relative;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav .nav-item a {
        font-size: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item a {
        display: block;
        padding: 4px 0px;
        color: rgb(25, 33, 39);
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item a {
        display: block;
        padding: 4px 0px;
        color: rgb(25, 33, 39);
    }
}

.navbar-nav .nav-item.active>a span,
.navbar-nav .nav-item:hover>a span {
    opacity: 1;
    visibility: visible;
    width: 60%;
}

.navbar-nav .nav-item.active>a span::before,
.navbar-nav .nav-item:hover>a span::before {
    width: 20%;
}

.navbar-nav .nav-item.active>a span::after,
.navbar-nav .nav-item:hover>a span::after {
    width: 15%;
}

.navbar-nav .nav-item:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item:hover .sub-menu {
        top: 0px;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item:hover .sub-menu {
        top: 0px;
    }
}

.navbar-nav .nav-item .sub-menu {
    width: 200px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;
    position: absolute;
    top: 110%;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0px;
        display: none;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0px;
        display: none;
        opacity: 1;
        visibility: visible;
    }
}

.navbar-nav .nav-item .sub-menu li {
    display: block;
}

.navbar-nav .nav-item .sub-menu li a {
    display: block;
    padding: 8px 20px;
    color: rgb(25, 33, 39);
}

.navbar-nav .nav-item .sub-menu li a.active,
.navbar-nav .nav-item .sub-menu li a:hover {
    padding-left: 25px;
    color: rgb(222, 54, 96);
}

.navbar-nav .sub-nav-toggler {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .sub-nav-toggler {
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
        background: none;
        color: rgb(25, 33, 39);
        font-size: 18px;
        border: 0px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 767px) {
    .navbar-nav .sub-nav-toggler {
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
        background: none;
        color: rgb(25, 33, 39);
        font-size: 18px;
        border: 0px;
        width: 30px;
        height: 30px;
    }
}

.navbar-nav .sub-nav-toggler span {
    width: 8px;
    height: 8px;
    border-left: 1px solid rgb(25, 33, 39);
    border-bottom: 1px solid rgb(25, 33, 39);
    transform: rotate(-45deg);
    position: relative;
    top: -5px;
}

.navbar-btn {
    font-family: Montserrat, sans-serif;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-btn {
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translateY(-50%);
    }
}

@media (max-width: 767px) {
    .navbar-btn {
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translateY(-50%);
    }
}

.navbar-btn .main-btn {
    padding: 0px 20px;
    height: 45px;
    line-height: 41px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
}

.navbar-btn .main-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
}









.single_blog .blg_image img {
    width: 100%;
    border-radius: 5px;
}

.single_blog .small_image img {
    width: 50%;
    height: 50%;
    border-radius: 5px;
}


.single_blog .blg_content {
    margin-top: 5px;
}

.single_blog .blg_content .blog_title a {
    font-size: 15px;
    color: rgb(56, 66, 77);
    font-weight: 500;
    transition: all 0.3s ease-out 0s;
}

@media (max-width: 767px) {
    .single_blog .blg_content .blog_title a {
        font-size: 20px;
    }
}

.single_blog .blg_content .blog_title a:hover {
    color: rgb(222, 54, 96);
}

.single_blog .blg_content p {
    margin-top: 25px;
}

.single_blog .blg_content .more {
    color: rgb(56, 66, 77);
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-out 0s;
    margin-top: 15px;
}

.single_blog .blg_content .more:hover {
    color: rgb(222, 54, 96);
}



.footer_area {
    background-color: rgb(56, 66, 77);
}





.footer_widget .footer_title {
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.footer_about p {
    color: rgb(255, 255, 255);
    margin-top: 25px;
}

.footer_link {
   
    padding-left: 0px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer_link {
        padding-left: 0px;
    }
}

@media (max-width: 767px) {
    .footer_link {
        padding-left: 0px;
    }
}

.footer_link .link {
    padding-top: 20px;
}

.footer_link .link li {
    margin-top: 15px;
}

.footer_link .link li a {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: Roboto, sans-serif;
    transition: all 0.3s ease-out 0s;
}

.footer_link .link li a:hover {
    color: rgb(222, 54, 96);
}




.footer_copyright .copyright {
    border-top: 1px solid rgba(219, 219, 219, 0.45);
    padding: 15px 0px;
    text-align: center;
	display:flex;
	 justify-content:space-between
}

.footer_copyright .copyright p {
    color: rgb(255, 255, 255);
}



.imgcontainer{
    position: relative;
  text-align: center;
  margin-top: 100px;
}

.bottom-right {
  position: absolute;
  bottom: 100px;
  right: 16rem;
   color:red;
   display: flex;
}
@media (max-width: 767px) {
    .imgcontainer .bottom-right{
           right: 0rem;
   color:black;
    position: absolute;
    font-size: 12px;
    top: 8rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .imgcontainer .bottom-right{
      color: black;
    right: 1rem;
    top: 10rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .imgcontainer .bottom-right{
     color: black;
    top: 16rem;
    right: 6rem;
    
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .imgcontainer .bottom-right{
      color: black;
	      right: 2rem;
    top: 13rem;
    
    }
}


#learnmore{
    display: flex;
        justify-content: space-between;
        background-color:  #e6faff;
        height: 50px;
}
#coraction, #lm{
    padding: 10px;
}
#learnbtn{
        outline: none;
    border: none;
    background-color: blue;
    color: white;
    /* position: absolute; */
    padding: 4px;
    border-radius: 4px;
  }
  .ml{
    margin-left: 0px;
  }
  #serviceband{
    width: 100%;
    padding: 63px;
  }
  .pl{
    padding: 0rem 5rem;

  }
  



  